<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My book shelf</title>
    <style>
        #root_container {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        #books {
            width: 50%;
            border-collapse: collapse;
        }

        table {
            margin: 25px;
        }

        th {
            text-align: left;
        }

        th, td {
            border-bottom: 1px solid #ddd;
        }
    </style>
</head>
<body>
<div id="root_container">
    <form method="post" th:action="@{/books/save}" th:object="${book}">
        <table>
            <tr>
                <td>
                    <input type="text" placeholder="author" th:field="*{author}">
                    <p th:each="err : ${#fields.errors('author')}" th:text="${err}"></p>
                </td>
                <td>
                    <input type="text" placeholder="book_title" th:field="*{title}">
                    <p th:each="err : ${#fields.errors('title')}" th:text="${err}"></p>
                </td>
                <td>
                    <input type="text" placeholder="size (pages)" th:field="*{size}">
                    <p th:each="err : ${#fields.errors('size')}" th:text="${err}"></p>
                </td>
                <td>
                    <input type="submit" value="save">
                </td>
            </tr>
        </table>
    </form>

    <form method="get" th:action="@{/books/search}" th:object="${bookFormSearch}">
        <table>
            <tr>
                <td>
                    <select th:field="*{key}">
                        <option th:value="author">author</option>
                        <option th:value="title">book title</option>
                        <option th:value="size">size (pages)</option>
                    </select>
                </td>
                <td>
                    <input type="text" placeholder="value" th:field="*{value}">
                </td>
                <td>
                    <input type="submit" value="search">
                </td>
                <td>
                    <p th:each="err : ${#fields.errors()}" th:text="${err}"></p>
                </td>
            </tr>
        </table>
    </form>

    <form method="post" th:action="@{/books/remove}" th:object="${bookFormRemove}">
        <table>
            <tr>
                <td>
                    <select th:field="*{key}">
                        <option th:value="id">id</option>
                        <option th:value="author">author</option>
                        <option th:value="title">book title</option>
                        <option th:value="size">size (pages)</option>
                    </select>
                </td>
                <td>
                    <input type="text" placeholder="value" th:field="*{value}">
                </td>
                <td>
                    <input type="submit" value="remove">
                </td>
                <td>
                    <p th:each="err : ${#fields.errors()}" th:text="${err}"></p>
                </td>
            </tr>
        </table>
    </form>

    <form method="post" th:action="@{/books/uploadFile}" enctype="multipart/form-data">
        <table>
            <tr>
                <td>
                    <input type="file" name="file">
                </td>
                <td>
                    <input type="submit" name="Upload">
                </td>
                <td th:if="${fileNotFound}">
                    <p>Please select file for upload</p>
                </td>
            </tr>
        </table>
    </form>

    <a id="files_href" th:href="@{/files/list}">Files for download</a>

    <table id="books">
        <tr>
            <th>id</th>
            <th>author</th>
            <th>title</th>
            <th>size</th>
        </tr>
        <tr th:each="book : ${bookList}">
            <td th:text="${book.id}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.size}"></td>
        </tr>
    </table>
</div>
</body>
</html>